<h1 style="text-align: center; margin-top: 90px">Learn More About Us</h1>

<p class="form-text">
  Grocery is an incredibly disruptive social e-commerce model with the
  objective to re-invent retail for the next billion users, it offers relevant
  catalogs with low prices and a fun-filled shopping experience with vernacular
  browsing. Headquartered in Bangalore, DealShare, a B2C hyperlocal e-retail
  business, was established on 5th June 2021. DealShare is currently
  operational in 5 states and in more than 30 cities. It is the only e-commerce
  company that caters to the mass population of the country.
</p>

<div class="card">

  
  <h2 class="text-center " style="font-family:Calibri">Contact Us</h2>
  <p class="form-text">
    Thanks for your interest in getting in touch with us.
  </p>

  <h4 class="text-center">Pune</h4>
  <div class="form-text text-center">
    <p class="form-text">Phone:7020874256</p>
   <p> E-mail: support@Grocery.in</p>
   <p>

     97,17th Cross Road,
     Sector 4, HSR Layout,
     Pune, Maharashtra
     412102
    </p>
    <p>

      hr@Grocery.in
    </p>
  </div>
</div>
<footer class="text-center">Copyright © 2022 All right Reserved.
  GroceryStore.in</footer>