<nav class="bg-primary navbar navbar-expand-lg navbar-light bg-color fixed-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" ><img src="../assets/logo/logo_transparent01.png" class="logo"></a>

   
    <input
    class="form-control me-4"
    type="search"
    placeholder="Search for product"
    aria-label="Search
    "
    [(ngModel)]="searchTerm" (keyup)="search($event)"
  />
  <!-- <span class="fas fa-search serch-icon"></span> -->
  <button class="btn btn-success me-4" type="submit" >Search</button>
    
  <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  style="color:#fff" routerLink="../products">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#fff" routerLink="../about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color:#fff"
          >
            New User
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:rgb(72, 70, 70)">
            <li><a class="dropdown-item" style="color:#fff" routerLink="../signup">Sign Up</a></li>
            <li><a class="dropdown-item" href="#" style="color:#fff" routerLink="../login">Login</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#" style="color:#fff" routerLink="../login" >Logout</a></li>
          </ul>
        </li>
      </ul>
      
        <button class="btn btn-primary me-2" routerLink="../cart">
          <i class="fa fa-shopping-cart fa-2x  " aria-hidden="true"  ></i>
          <div class="badge bg-danger">{{totalItem}}</div>
        </button>

        
      
    </div>
  </div>
</nav>


