.logo {
  margin-left: 60px;
  width: 60px;
  height: 40px;
}

input {
  width: 30%;
  /* padding: 1px; */
  margin-left: 80px;
}
/* .btn-success{
  padding: 1px;
  margin-left: -75px;
} */

.btn-danger {
  margin-left: 20px;
}
